---
import { Card as CardComponent } from '@fpkit/acss'
import { sanitizeImageUrl } from '#/utils/security'

type Props = {
  cardTitle?: string
  cardImage?: string
  cardLink?: string
}

const { cardTitle, cardImage, cardLink } = Astro.props as Props

// Sanitize the image URL to prevent XSS attacks
const safeCardImage = sanitizeImageUrl(cardImage, 'https://picsum.photos/200')
---

<CardComponent>
  {safeCardImage && <img src={safeCardImage} alt="" />}
  <CardComponent.Title>{cardTitle ?? 'Card Feature'}</CardComponent.Title>
  <CardComponent.Content>
    <slot />
  </CardComponent.Content>
  {
    cardLink && (
      <div class="card-footer">
        <a href={cardLink || '#'}>
          <i>Continue Reading</i>
        </a>
      </div>
    )
  }
</CardComponent>
