---
import { getCollection } from "astro:content";
import BlogPosts from "./BlogPosts.astro";

const { contentTitle, pageSize, to, collection } = Astro.props;
const allPosts = await getCollection(collection || "posts");
const collectionLists = allPosts.slice(0, pageSize || 3);
---

{contentTitle && <h3 data-ui="display">{contentTitle}</h3>}
<ul data-list="unstyled">
  {
    collectionLists?.map((post: any) => (
      <>
        <BlogPosts
          title={post.data.title}
          description={post.data.description}
          url={`/${to || "posts"}/${post.slug}`}
        />
      </>
    ))
  }
</ul>
