---
import { CONTACT_INFO } from "#utils/site-config.js"
---

<form action={CONTACT_INFO.url} method="post" data-netlify={CONTACT_INFO.isNetlify} name="contact-us" data-netlify-honeypot="bot-field">
  { CONTACT_INFO.isNetlify &&   
    <p class="hidden">
        <label>
          Don’t fill this out if you’re human: <input name="bot-field" />
        </label>
      </p>
    }
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="phone">Phone</label>
    <input type="tel" id="phone" name="phone">
    <label for="subject">Subject</label>
    <input type="text" id="subject" name="subject" required>
    <label for="message">Message</label>
    <textarea id="message" name="message" rows="7" required></textarea>
    <button type="submit" data-btn="pill"><b>Send Message</b></button>
</form>