 ---
export type Props = {
  headerTitle?: string;
  headerDescription?: string;
  headerImage?: string;
  headerImageAlt?: string;
};
const {  headerTitle, headerDescription, headerImage, headerImageAlt } = Astro.props;
// const headerTitle = Astro.props.headerTitle || "Header Title";
// const headerDescription = Astro.props.headerDescription || "Description text";
---

<header>
  <section id="header">
    <h1 data-ui="display">{headerTitle || "Header Title Here"}</h1>
    { headerImage && <div><img src={headerImage} alt={headerImageAlt} /></div> }
    <p>{headerDescription || "My really cool site desciption or slug"}</p>
  </section>
</header>
<section id="features" >
  <slot />
</section>
