---
import AstroBreadcrumb from '#components/react/astro-breadcrumb.tsx'

export type Props = {
  showBreadcrumb?: boolean
  breadcrumbRoutes?: Array<{
    name: string
    url: string
    path?: string
  }>
}

const { showBreadcrumb, breadcrumbRoutes } = Astro.props
---

<>
  <slot name="featured" />
  <main>
    {
      showBreadcrumb && (
        <section>
          <AstroBreadcrumb routes={breadcrumbRoutes || []} client:load />
        </section>
      )
    }
    <slot />
  </main>
</>
