---
import { SignedIn } from "@clerk/astro/components";
---

<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/content/1">Articles</a>
    </li>
    <li>
      <a href="/posts/1">Blog</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
  <ul>
    <SignedIn isStatic={true}>
      <li>
        <a href="/events">Events</a>
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
    </SignedIn>
    <li>
      <slot name="login" />
    </li>
  </ul>
  <slot />
</nav>
