---
export type Props = {
  items: [];
  itemsPerPage?: number;
  currentPage?: number;
  to?: string;
};
const itemsArray = Astro.props.items;
const itemsPerPage = Astro.props.itemsPerPage || 5;
const currentPage = Astro.props.currentPage || 1;
const to = Astro.props.to || "posts";

const totalPages = Math.ceil(itemsArray?.length / itemsPerPage);
const pageNumbers = Array.from({ length: totalPages }, (_, i) => i + 1);
---

<ul data-list="unstyled inline">
  {
    pageNumbers.map((item) => {
      return (
        <li>
          <a href={`/${to}/${item}`}>{item}</a>
        </li>
      );
    })
  }
</ul>
