---
import type { TODO } from "#utils/types.js"

export type Props = {
  headings?: TODO;
  hash?: string;
}
const { headings } = Astro.props;
---

{headings?.length > 1 && (
    <ul data-list="unstyled">
      {headings.map((heading: TODO) => (
        <li>
         <a href={`#${heading.slug}`}>&#35; 
          {heading.text}</a>
        </li>
      ))}
    </ul>
  )}
  <style>
    a {
      font-weight: 600;
    }
  </style>