---
import Layout from '../layouts/Layout.astro'
import CollectionList from '#components/astro/CollectionList.astro'
import FeatureCards from '#components/astro/FeatureCards.astro'
import Featured from '#components/astro/Featured.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '#utils/site-config.js'
---

<Layout
  pageTitle={SITE_TITLE}
  pageDescription={SITE_DESCRIPTION}
  showBreadcrumb={false}
  pageImageUrl="/images/astro-kit-cover.webp"
>
  <div slot="featured">
    <!-- <section>
      <Featured />
    </section> -->
    <section>
      <FeatureCards />
    </section>
  </div>
  <section>
    <CollectionList pageSize={2} />
  </section>
</Layout>
