---
import MainSection from '#components/astro/MainSection.astro'
import Auth from '#layouts/Auth.astro'
// import Base from '#layouts/Base.astro'

const { pageTitle, pageDescription, pageImageUrl, hideHeader } = Astro.props
---

<Auth
  hideHeader={false}
  showBreadcrumb={false}
  pageTitle="Contact Us"
  pageDescription=""
  pageImageUrl={pageImageUrl}
  hideHeader={hideHeader}
>
  <section class="message-us">
    <h1>Contact Us</h1>
    <p>If you have any questions or feedback, please feel free to reach out to us!</p>
    <form action="">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="subject">Subject:</label>
      <input type="text" id="subject" name="subject" required />

      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit">Send Message</button>
    </form>
  </section>
</Auth>

<style>
  .message-us {
    width: 600px;
    margin-inline: auto;
    padding: 1rem;
  }
</style>
