---
export const prerender = true
import Auth from '#/layouts/Auth.astro'
import { SignedOut, SignUp } from '@clerk/astro/components'
import { Sign } from 'crypto'
---

<Auth pageTitle="Sign up - Astro Kit" hideHeader={true}>
  <section class="centered centered-column">
    <h2>Welcome Back!</h2>
    <p>Please sign up to continue.</p>
    <SignedOut isStatic={true}>
      <SignUp />
    </SignedOut>
  </section>
</Auth>
