---
import Base from './Base.astro'
import Sidebar from '#components/astro/Sidebar.astro'
import MainSection from '#components/astro/MainSection.astro'
const { pageTitle, pageDescription, pageImageUrl, hideHeader, showBreadcrumb, breadcrumbRoutes } =
  Astro.props
---

<Base
  hideHeader={hideHeader || false}
  pageTitle={pageTitle || 'Authentication'}
  pageDescription={pageDescription || 'Sign in to your account'}
  pageImageUrl={pageImageUrl}
>
  <MainSection showBreadcrumb={showBreadcrumb || true} breadcrumbRoutes={breadcrumbRoutes || []}>
    <div slot="featured">
      <slot name="featured" />
    </div>
    <section aria-label="main-content">
      <article>
        <slot />
      </article>
      <aside>
        <slot name="sidebar" />
        <Sidebar />
        <slot name="sidebar-footer" />
      </aside>
    </section>
  </MainSection>
</Base>
